[Unit]
Description=DetectionAgentd
After=libvirt-bin.service
Wants=libvirt-bin.service

[Service]
WorkingDirectory=/home/localadmin/compute_node/
ExecStart=/usr/bin/python DetectionAgent.py
Restart=on-failure


[Install]
WantedBy=multi-user.target

# systemctl daemon-reload
# systemctl enable Detectionagentd.service
# systemctl start Detectionagentd